In [1]:
pwd

'C:\\Users\\SAWADOGO\\Documents'

In [2]:
cd ../Desktop/OYERA/

C:\Users\SAWADOGO\Desktop\OYERA

In [22]:
import numpy as np
import pandas as pd

source = "HDR 2007-2008 Table 09__Sawadogo.xlsx"

df = pd.read_excel(source,header=2)
df.head(12)

,9 Leading global health crises and risks,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,HIV prevalencea (% aged 15-49),NaN,NaN,NaN,NaN,NaN,MDG,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,MDG,NaN,NaN,NaN,Antimalarial measures,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,Condom use at last high-risk sexb\n(% aged 15-24),NaN,NaN,NaN,Use of insecticide— treated \nbednets,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,HDI rank,NaN,NaN,NaN,NaN,Women,NaN,Men,NaN,(% of children under five),...,Men,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,2006,NaN,1999-2005g,NaN,1999-2005g,NaN,1999-2005g,...,2002-04g,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,HIGH HUMAN DEVELOPMENT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,1,Iceland,NaN,0.2 [0.1–0.3],NaN,..,NaN,..,NaN,..,...,25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,2,Norway,NaN,0.1 [0.1–0.2],NaN,..,NaN,..,NaN,..,...,27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,3,Australia,NaN,0.1 [<0.2],NaN,..,NaN,..,NaN,..,...,19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,4,Canada,NaN,0.3 [0.2–0.5],NaN,..,NaN,..,NaN,..,...,22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,5,Ireland,NaN,0.2 [0.1–0.4],NaN,..,NaN,..,NaN,..,...,28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [23]:
# https://stackoverflow.com/a/51794989
# Supprimez d'abord toutes les colonnes (axe=1) sans valeurs
df = df.dropna(how="all", axis=1)
# Supprimer toutes les lignes (axe=0) sans valeurs
df = df.dropna(how="all", axis=0).reset_index(drop=True)
df.head(6)

,9 Leading global health crises and risks,Unnamed: 1,Unnamed: 3,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22
0,NaN,NaN,HIV prevalencea (% aged 15-49),NaN,NaN,NaN,NaN,MDG,NaN,MDG,MDG,NaN,MDG,NaN,MDG,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,MDG,NaN,NaN,NaN,Antimalarial measures,NaN,NaN,Tuberculosis cases,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,Condom use at last high-risk sexb\n(% aged 15-24),NaN,NaN,NaN,Use of insecticide— treated \nbednets,NaN,Fevers treated with \nantimalarial drugs,"Prevalencec \n(per 100,000 people)",NaN,Detected under DOTSd\n(%),NaN,Cured under DOTSe\n(%),NaN,Prevalence of smoking\n(% of adults)f,NaN,NaN,NaN
3,HDI rank,NaN,NaN,Women,NaN,Men,NaN,(% of children under five),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Women,NaN,Men,NaN
4,NaN,NaN,2006,1999-2005g,NaN,1999-2005g,NaN,1999-2005g,NaN,1999-2005g,2005,NaN,2005,NaN,2004,NaN,2002-04g,NaN,2002-04g,NaN
5,HIGH HUMAN DEVELOPMENT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [25]:
columns = []
for c in df.columns:
    # Pour chaque colonne, obtenir les valeurs des 5 premières lignes
    # puis conservez toutes les chaînes (c'est-à-dire excluez-les si elles sont nulles) et ajoutez-les en colonne
    columns.append([str(v) for v in df[c][:5] if pd.notnull(v)])
columns

[['HDI rank'],
 [],
 ['HIV prevalencea (% aged 15-49)', '2006'],
 ['MDG',
  'Condom use at last high-risk sexb\n(% aged 15-24)',
  'Women',
  '1999-2005g'],
 [],
 ['Men', '1999-2005g'],
 [],
 ['MDG',
  'Antimalarial measures',
  'Use of insecticide— treated \nbednets',
  '(% of children under five)',
  '1999-2005g'],
 [],
 ['MDG', 'Fevers treated with \nantimalarial drugs', '1999-2005g'],
 ['MDG', 'Tuberculosis cases', 'Prevalencec \n(per 100,000 people)', '2005'],
 [],
 ['MDG', 'Detected under DOTSd\n(%)', '2005'],
 [],
 ['MDG', 'Cured under DOTSe\n(%)', '2004'],
 [],
 ['Prevalence of smoking\n(% of adults)f', 'Women', '2002-04g'],
 [],
 ['Men', '2002-04g'],
 []]

In [32]:
columns=["HDI rank",
         "Country",
         "HIV prevalencea (% aged 15-49) 2006",
        "Condom use at last high-risk sex(% aged 15-24) Women 1999-2005",
        "Reference 1",
         "Condom use at last high-risk sex(% aged 15-24) Men 1999-2005",
        "Reference 2",
        "Antimalarial measures-Use of insecticide— treated bednets (% of children under five) 1999-2005",
        "Reference 3",
        "Antimalarial measures-Fevers treated with antimalarial drugs 1999-2005",
        "Tuberculosis cases Prevalence (per 100,000 people) 2005",
        "Reference 4",
        "Tuberculosis cases Detected under DOTS(%) 2005",
        "Reference 5",
        "Tuberculosis cases Cured under DOTS(%) 2004",
        "Reference 6",
        "Prevalence of smoking(% of adults) Women 2002-04",
        "Reference 7",
        "Prevalence of smoking(% of adults) Men 2002-04",
        "Reference 8"]

In [33]:
# Réinitialiser les colonnes des cadres de données
df.columns = columns
# Supprimer les lignes qui contenaient les informations dont nous n'avons plus besoin
# et réinitialiser l'index
# np.arange(5) crée un tableau = [0, 1, 2, 3, 4, 5]
df = df.drop(np.arange(5), axis=0).reset_index(drop=True)
df.head()

,HDI rank,Country,HIV prevalencea (% aged 15-49) 2006,Condom use at last high-risk sex(% aged 15-24) Women 1999-2005,Reference 1,Condom use at last high-risk sex(% aged 15-24) Men 1999-2005,Reference 2,Antimalarial measures-Use of insecticide— treated bednets (% of children under five) 1999-2005,Reference 3,Antimalarial measures-Fevers treated with antimalarial drugs 1999-2005,"Tuberculosis cases Prevalence (per 100,000 people) 2005",Reference 4,Tuberculosis cases Detected under DOTS(%) 2005,Reference 5,Tuberculosis cases Cured under DOTS(%) 2004,Reference 6,Prevalence of smoking(% of adults) Women 2002-04,Reference 7,Prevalence of smoking(% of adults) Men 2002-04,Reference 8
0,HIGH HUMAN DEVELOPMENT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,Iceland,0.2 [0.1–0.3],..,NaN,..,NaN,..,NaN,..,2,NaN,53,NaN,50,NaN,20,NaN,25,NaN
2,2,Norway,0.1 [0.1–0.2],..,NaN,..,NaN,..,NaN,..,4,NaN,44,NaN,89,NaN,25,NaN,27,NaN
3,3,Australia,0.1 [<0.2],..,NaN,..,NaN,..,NaN,..,6,NaN,42,NaN,85,NaN,16,NaN,19,NaN
4,4,Canada,0.3 [0.2–0.5],..,NaN,..,NaN,..,NaN,..,4,NaN,64,NaN,62,NaN,17,NaN,22,NaN

In [34]:
df.tail(30)

,HDI rank,Country,HIV prevalencea (% aged 15-49) 2006,Condom use at last high-risk sex(% aged 15-24) Women 1999-2005,Reference 1,Condom use at last high-risk sex(% aged 15-24) Men 1999-2005,Reference 2,Antimalarial measures-Use of insecticide— treated bednets (% of children under five) 1999-2005,Reference 3,Antimalarial measures-Fevers treated with antimalarial drugs 1999-2005,"Tuberculosis cases Prevalence (per 100,000 people) 2005",Reference 4,Tuberculosis cases Detected under DOTS(%) 2005,Reference 5,Tuberculosis cases Cured under DOTS(%) 2004,Reference 6,Prevalence of smoking(% of adults) Women 2002-04,Reference 7,Prevalence of smoking(% of adults) Men 2002-04,Reference 8
153,152,Togo,3.2 [1.9–4.7],22,j,54,j,54,NaN,60,753,NaN,18,NaN,67,NaN,..,NaN,..,NaN
154,153,Yemen,[<0.2],..,NaN,..,NaN,..,NaN,..,136,NaN,41,NaN,82,NaN,..,NaN,..,NaN
155,154,Uganda,6.7 [5.7–7.6],53,NaN,55,NaN,0,NaN,..,559,NaN,45,NaN,70,NaN,3,h,25,h
156,155,Gambia,2.4 [1.2–4.1],..,NaN,..,NaN,15,NaN,55,352,NaN,69,NaN,86,NaN,..,NaN,..,NaN
157,LOW HUMAN DEVELOPMENT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
158,156,Senegal,0.9 [0.4–1.5],36,NaN,52,NaN,14,NaN,29,466,NaN,51,NaN,74,NaN,..,NaN,..,NaN
159,157,Eritrea,2.4 [1.3–3.9],..,NaN,..,NaN,4,NaN,4,515,NaN,13,NaN,85,NaN,..,NaN,..,NaN
160,158,Nigeria,3.9 [2.3–5.6],24,NaN,46,NaN,1,NaN,34,536,NaN,22,NaN,73,NaN,1,NaN,..,NaN
161,159,Tanzania (United Republic of),6.5 [5.8–7.2],42,NaN,47,NaN,16,NaN,58,496,NaN,45,NaN,81,NaN,..,NaN,..,NaN
162,160,Guinea,1.5 [1.2–1.8],17,NaN,32,NaN,4,NaN,56,431,NaN,56,NaN,72,NaN,..,NaN,..,NaN
163,161,Rwanda,3.1 [2.9–3.2],26,NaN,40,NaN,5,NaN,13,673,NaN,29,NaN,77,NaN,..,NaN,..,NaN
164,162,Angola,3.7 [2.3–5.3],..,NaN,..,NaN,2,NaN,63,333,NaN,85,NaN,68,NaN,..,NaN,..,NaN
165,163,Benin,1.8 [1.2–2.5],19,NaN,34,NaN,7,NaN,60,144,NaN,83,NaN,83,NaN,..,NaN,..,NaN
166,164,Malawi,14.1 [6.9–21.4],35,NaN,47,NaN,15,NaN,28,518,NaN,39,NaN,71,NaN,5,NaN,21,NaN
167,165,Zambia,17 [15.9–18.1],35,NaN,40,NaN,7,NaN,52,618,NaN,52,NaN,83,NaN,1,NaN,16,NaN
168,166,Côte d'Ivoire,7.1 [4.3–9.7],25,j,56,j,4,NaN,58,659,NaN,38,NaN,71,NaN,..,NaN,..,NaN
169,167,Burundi,3.3 [2.7–3.8],..,NaN,..,NaN,1,NaN,31,602,NaN,30,NaN,78,NaN,..,NaN,..,NaN
170,168,Congo (Democratic Republic of the),3.2 [1.8–4.9],..,NaN,..,NaN,1,NaN,45,541,NaN,72,NaN,85,NaN,..,NaN,..,NaN
171,169,Ethiopia,[0.9–3.5],17,NaN,30,NaN,1,NaN,3,546,NaN,33,NaN,79,NaN,(.),NaN,6,NaN
172,170,Chad,3.5 [1.7–6.0],17,NaN,25,NaN,1,j,44,495,NaN,22,NaN,69,NaN,..,NaN,..,NaN
173,171,Central African Republic,10.7 [4.5–17.2],..,NaN,..,NaN,2,NaN,69,483,NaN,40,NaN,91,NaN,..,NaN,..,NaN
174,172,Mozambique,16.1 [12.5–20.0],29,NaN,33,NaN,..,NaN,15,597,NaN,49,NaN,77,NaN,..,NaN,..,NaN
175,173,Mali,1.7 [1.3–2.1],14,NaN,30,NaN,8,NaN,38,578,NaN,21,NaN,71,NaN,..,NaN,..,NaN
176,174,Niger,1.1 [0.5–1.9],7,j,30,j,6,NaN,48,294,NaN,50,NaN,61,NaN,..,NaN,..,NaN
177,175,Guinea-Bissau,3.8 [2.1–6.0],..,NaN,..,NaN,7,NaN,58,293,NaN,79,NaN,75,NaN,..,NaN,..,NaN
178,176,Burkina Faso,2 [1.5–2.5],54,NaN,67,NaN,2,NaN,50,461,NaN,18,NaN,67,NaN,..,NaN,..,NaN
179,177,Sierra Leone,1.6 [0.9–2.4],..,NaN,..,NaN,2,NaN,61,905,NaN,37,NaN,82,NaN,..,NaN,..,NaN
180,NOTES,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
181,a. Data are point and range estimates based on...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
182,SOURCES\nColumn 1: UNAIDS 2006.\nColumns 2–5: ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [35]:
# Déposer les lignes du bas des données que nous voulons conserver, jusqu'à la fin (défini comme len(df))
df = df.drop(np.arange(180,len(df)), axis=0).reset_index(drop=True)

In [37]:
df.tail()

,HDI rank,Country,HIV prevalencea (% aged 15-49) 2006,Condom use at last high-risk sex(% aged 15-24) Women 1999-2005,Reference 1,Condom use at last high-risk sex(% aged 15-24) Men 1999-2005,Reference 2,Antimalarial measures-Use of insecticide— treated bednets (% of children under five) 1999-2005,Reference 3,Antimalarial measures-Fevers treated with antimalarial drugs 1999-2005,"Tuberculosis cases Prevalence (per 100,000 people) 2005",Reference 4,Tuberculosis cases Detected under DOTS(%) 2005,Reference 5,Tuberculosis cases Cured under DOTS(%) 2004,Reference 6,Prevalence of smoking(% of adults) Women 2002-04,Reference 7,Prevalence of smoking(% of adults) Men 2002-04,Reference 8
175,173,Mali,1.7 [1.3–2.1],14,NaN,30,NaN,8,NaN,38,578,NaN,21,NaN,71,NaN,..,NaN,..,NaN
176,174,Niger,1.1 [0.5–1.9],7,j,30,j,6,NaN,48,294,NaN,50,NaN,61,NaN,..,NaN,..,NaN
177,175,Guinea-Bissau,3.8 [2.1–6.0],..,NaN,..,NaN,7,NaN,58,293,NaN,79,NaN,75,NaN,..,NaN,..,NaN
178,176,Burkina Faso,2 [1.5–2.5],54,NaN,67,NaN,2,NaN,50,461,NaN,18,NaN,67,NaN,..,NaN,..,NaN
179,177,Sierra Leone,1.6 [0.9–2.4],..,NaN,..,NaN,2,NaN,61,905,NaN,37,NaN,82,NaN,..,NaN,..,NaN

In [41]:

hdi_categories = ["HIGH HUMAN DEVELOPMENT", "MEDIUM HUMAN DEVELOPMENT", "LOW HUMAN DEVELOPMENT"]
# Se débarrasser des rangées avec les catégories HDI
# https://stackoverflow.com/a/27360130 & https://stackoverflow.com/a/12098586
df = df.drop(df[df["HDI rank"].isin(hdi_categories)].index, axis=0).reset_index(drop=True)
# Référence pour np.where https://docs.scipy.org/doc/numpy/reference/generated/numpy.where.html
# Pensez que cela ressemble à une déclaration du type "if" : where(test est vrai, vrai-quelque chose, faux-quelque chose)
# ceci peut aussi être imbriqué : where(test is true, true-thing, where(new-test is true, true-thing, false-thing))
df.loc[:, "HDI category"] = np.where(df["HDI rank"] >155,
                                     "LOW HUMAN DEVELOPMENT",
                                     np.where(df["HDI rank"] > 70,
                                              "MEDIUM HUMAN DEVELOPMENT",
                                              "HIGH HUMAN DEVELOPMENT"
                                             )
                                    )
df.sort_values(by="HDI rank", inplace=True)
df.head()

,HDI rank,Country,HIV prevalencea (% aged 15-49) 2006,Condom use at last high-risk sex(% aged 15-24) Women 1999-2005,Reference 1,Condom use at last high-risk sex(% aged 15-24) Men 1999-2005,Reference 2,Antimalarial measures-Use of insecticide— treated bednets (% of children under five) 1999-2005,Reference 3,Antimalarial measures-Fevers treated with antimalarial drugs 1999-2005,...,Reference 4,Tuberculosis cases Detected under DOTS(%) 2005,Reference 5,Tuberculosis cases Cured under DOTS(%) 2004,Reference 6,Prevalence of smoking(% of adults) Women 2002-04,Reference 7,Prevalence of smoking(% of adults) Men 2002-04,Reference 8,HDI category
0,1,Iceland,0.2 [0.1–0.3],..,NaN,..,NaN,..,NaN,..,...,NaN,53,NaN,50,NaN,20,NaN,25,NaN,HIGH HUMAN DEVELOPMENT
1,2,Norway,0.1 [0.1–0.2],..,NaN,..,NaN,..,NaN,..,...,NaN,44,NaN,89,NaN,25,NaN,27,NaN,HIGH HUMAN DEVELOPMENT
2,3,Australia,0.1 [<0.2],..,NaN,..,NaN,..,NaN,..,...,NaN,42,NaN,85,NaN,16,NaN,19,NaN,HIGH HUMAN DEVELOPMENT
3,4,Canada,0.3 [0.2–0.5],..,NaN,..,NaN,..,NaN,..,...,NaN,64,NaN,62,NaN,17,NaN,22,NaN,HIGH HUMAN DEVELOPMENT
4,5,Ireland,0.2 [0.1–0.4],..,NaN,..,NaN,..,NaN,..,...,NaN,0,NaN,..,NaN,26,NaN,28,NaN,HIGH HUMAN DEVELOPMENT

In [42]:
destination = "HDR 2007-2008 Table 09__Sawadogo.xlsx"
# `index=False` signifie que nous n'allons pas garder cette colonne d'index - elle sera recréée lorsque nous ouvrirons le fichier à l'avenir
df.to_csv(destination, index=False)

In [44]:
ls

 Le volume dans le lecteur C n’a pas de nom.
 Le numéro de série du volume est A47F-C2A2

 Répertoire de C:\Users\SAWADOGO\Desktop\OYERA

05/05/2020  00:14    <DIR>          .
05/05/2020  00:14    <DIR>          ..
04/05/2020  14:48    <DIR>          Cours_Boyera
21/04/2020  18:24            61 425 HDR 2007-2008 Table 09_.xlsx
04/05/2020  23:43            16 334 HDR 2007-2008 Table 09__Sawadogo.xlsx
22/04/2020  11:55             4 812 https.odt
               3 fichier(s)           82 571 octets
               3 Rép(s)  125 362 343 936 octets libres